@mixin color {
  color: #360b0e;
}
@mixin background {
  color: #360b0e;
}
@mixin mulish {
  font-family: "Mulish", sans-serif !important;
}

.dash-nav {
  @include mulish;
  background: #efefef;
  padding: 0rem 2rem;
  height: 75px;
  .dash-nav-list {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      height: inherit;
      display: flex;
      align-items: center;
      border-bottom: 5px solid transparent;
      a {
        @include color;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
      &:hover {
        border-bottom-color: #360b0e;
        cursor: pointer;
      }
    }
    .dash-tab-active {
      border-bottom-color: #360b0e;
    }
  }
}

.dash-tab-content {
  @include mulish;
  .profile-img {
    object-fit: cover;
    border-radius: 50%;

    img {
      width: 6rem;
      height: auto;
      border-radius: 50%;
    }
  }
  .u-f-b {
    padding: 10px 5px!important;
    width: 10rem;
    border: 2px solid #e5e5e5;
    @include color;
    cursor: pointer;
    border-radius: 5px;
  }

  .u-f-b input {
    display: none;
  }

  a.u-f-b:hover {
    color: white;
  }
  .name {
    .name-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;
      button {
        position: absolute;
        right: 1rem;
        color: red;
      }
      h5 {
        margin: 0;
      }
    }
  }
  .bio {
    .bio-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;

      h5 {
        margin: 0;
      }
    }
  }
  .email {
    .email-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;
      button {
        position: absolute;
        right: 1rem;
        color: red;
      }
      h5 {
        margin: 0;
      }
    }
  }
}
.address-tab-content {
  .address-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr) !important;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    .address {
      background-color: #e5e5e5;
      padding: 1.2rem 2rem;
      border-radius: 4px;
      button:first-child {
        background-color: #360b0e;
        border: 1px solid #360b0e;
        padding: 0.35rem 0.7rem;
        border-radius: 4px;
        font-size: 0.97rem !important;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #360b0e;
          background-color: #fff;
        }
      }
      button:nth-child(2) {
        background-color: transparent;
        border: 1px solid #360b0e;
        padding: 0.35rem 0.7rem;
        border-radius: 4px;
        font-size: 0.97rem !important;
        text-transform: capitalize;
        color: #360b0e;
        cursor: pointer;
      }
    }
    .new-address {
      background-color: #fff !important;
      border: 1px solid #360b0e;
      display: grid;
      font-size: 1.2rem;
      place-items: center;

      grid-template-rows: auto;
      grid-template-columns: 1fr !important;
      svg {
        font-size: 2rem;
      }
    }
  }
  // _________ ADD Address Overlay  __________
  .address-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .address-overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }

  .address-overlay-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .address-overlay-content form {
    display: flex;
    flex-direction: column;
  }

  .address-overlay-content form .MuiTextField-root {
    margin-bottom: 10px;
    svg {
      color: #360b0e;
    }
  }

  .address-overlay-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .address-overlay-buttons button:first-child {
    width: 48%;
    color: #ffffff;
    background-color: #360b0e !important;
    margin: 1rem 1rem;
  }
  .address-overlay-buttons button:nth-child(2) {
    width: 48%;
    margin: 1rem 1rem;
  }
}
