@mixin color {
  color: #360b0e;
}
@mixin mulish {
  font-family: "Mulish", sans-serif !important;
}

.dash-nav {
  @include mulish;
  background: #efefef;
  padding: 0rem 2rem;
  height: 75px;
  .dash-nav-list {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      height: inherit;
      display: flex;
      align-items: center;
      border-bottom: 5px solid transparent;
      a {
        @include color;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
      &:hover {
        border-bottom-color: #360b0e;
        cursor: pointer;
      }
    }
    .dash-tab-active {
      border-bottom-color: #360b0e;
    }
  }
}

.dash-tab-content {
  @include mulish;
  .name {
    .name-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;
      button {
        position: absolute;
        right: 1rem;
        color: red;
      }
      h5 {
        margin: 0;
      }
    }
  }
  .name {
    .name-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;
      button {
        position: absolute;
        right: 1rem;
        color: red;
      }
      h5 {
        margin: 0;
      }
    }
  }
  .bio {
    .bio-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;

      h5 {
        margin: 0;
      }
    }
  }
  .email {
    .email-header {
      position: relative;
      margin-bottom: 1rem;
      @include color;
      button {
        position: absolute;
        right: 1rem;
        color: red;
      }
      h5 {
        margin: 0;
      }
    }
  }
}
.address-tab-content {
  .address-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr) !important;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr) !important;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    .address {
      background-color: #e5e5e5;
      padding: 1.2rem 2rem;
      border-radius: 4px;
    }
    .new-address {
      background-color: #fff !important;
      border: 1px solid #360b0e;
      display: grid;
      font-size: 1.2rem;
      place-items: center;
      
      grid-template-rows: auto;
      grid-template-columns: 1fr !important;
      svg{
        font-size: 2rem;
      }
    }
  }
}
