* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shop {
  font-family: sans-serif;
  .row {
    background-color: #f3f3f3;
    height: calc(100vh - 90px);
    margin: 0 !important;
  }
  // ____________ Details Overlay _________________

  .details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    .overlay-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      .error-message {
        color: crimson;
        font-size: 12px;
        margin-top: 4px;
      }

      h2 {
        margin-bottom: 15px;
        text-align: center;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      .save-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  // ______ Pages _____
  .pages {
    border-radius: 1px;
    padding: 1.4rem 0.5rem;
    background-color: #ffffff;
    ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      padding-left: 0;
      margin: 0 2.6rem;
      line-height: 3rem !important;
      li {
        margin: 0.5rem 0.1rem;
        display: flex;
        align-items: center;

        width: fit-content;
        &:hover > svg,
        &:hover > a {
          color: #000;
        }
        svg {
          color: #474747;
        }
        a {
          color: #474747;
          margin-left: 0.8rem;
          font-size: 1rem;

          text-decoration: none;
        }
      }
      li.active {
        a {
          color: crimson;
        }
        svg {
          color: crimson;
        }
      }
    }
  }
  // ______ Content _____
  .content {
    // ___________ Profile ________________
    .loadingAnimation {
      height: calc(100vh - 90px);
      display: flex;
      justify-content: center;
      svg {
        width: 65% !important;
      }
    }
    .profile {
      font-family: "Mulish";
      max-width: 600px;
      margin: 1rem auto;
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #e1e1e1;
      border-radius: 8px;
      .editProfile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
      }

      .editProfileContainer {
        max-width: 500px;
        width: 450px;
        margin: 0 1rem;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .editProfileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .editProfileHeader h4 {
        font-weight: bolder;
        margin: 0;
        font-size: 20px;
        letter-spacing: 0.5px;
        color: #360b0e;
      }

      .editProfileHeader span {
        cursor: pointer;
        font-weight: bolder;
        color: crimson;
      }

      .editProfileBody {
        margin-top: 20px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;

        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }

      .is-invalid {
        border-color: #dc3545;
      }

      .invalid-feedback {
        color: #dc3545;
        font-size: 12px;
      }

      .btn-primary {
        background-color: #360b0e;
        color: #ffffff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
      }

      .btn-primary:hover {
        background-color: #562e31;
      }

      .editButton {
        position: absolute;
        right: 2rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: crimson;
        cursor: pointer;
        padding: 0.2rem 0.4rem;
        transition: 0.25s ease-in-out;
        &:hover {
          color: white;
          background-color: crimson;
          border-radius: 3px;
        }
      }
      .avatar {
        text-align: center;
        margin-bottom: 20px;
      }

      .avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .shopName {
        text-align: center;
        margin-bottom: 10px;
      }

      .section {
        margin-bottom: 15px;
      }

      .section span {
        font-weight: bold;
        margin-right: 10px;
        color: #474747;
      }

      .section p {
        margin: 0;
        flex-wrap: wrap;
      }
    }

    // ________________ Create Product _______________-

    .createProduct {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      height: 640px;

      input {
        height: 1rem !important;
      }

      .form-field {
        margin-bottom: 20px;
        .tag {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          background-color: #474747;
          color: #fff;
          border-radius: 3px;
          padding: 5px 10px;
          align-items: center;
          .removeTag {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              font-size: 18px;
              cursor: pointer;
            }
          }
        }
        button {
          width: 100%;
          margin: 2rem 0 0rem 0;
          background-color: white;
          color: #360b0e;
          text-transform: capitalize;
          box-shadow: none;
          border: 1px solid #dbdbdb;
          font-size: 1rem;
          &:hover {
            background-color: #f3f3f3;
          }
        }
        label {
          font-size: 16px;
          text-transform: capitalize;
        }
        .image-preview {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 10px;
        }

        .preview-image {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
      .createProduct h1 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
        color: #333;
      }
      .form-field .MuiFormControl-root {
        width: 100%;
      }
    }
  }
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #8f8f8f !important;
  color: #fff !important;
}
