@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Mulish:wght@400;500&family=Rubik:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Mulish:wght@400;500&family=Poppins&family=Rubik:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin color {
  color: #360b0e!important;
}
.MuiFormLabel-root.Mui-focused {
  @include color;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #360b0e !important;
}

.MuiFilledInput-underline:after{
  border-bottom: 2px solid #360b0e !important;
}
body {
  background: #fff;
}
.alpha {
  color: rgb(62 62 62) !important;
}
.centerall {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop {
  font-family: "Poppins", sans-serif !important;
}
.centerh {
  display: flex;
  justify-content: center;
}
.centerv {
  display: flex;
  align-items: center;
}
.verify svg {
  width: 28% !important;
  height: 20% !important;
}
